Source: libpreload-logger
Priority: optional
Maintainer: Steve Dodier-Lazaro <sidnioulz@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Section: libs
Homepage: https://launchpad.net/activityfinder
Vcs-Bzr: http://code.launchpad.net/~ucl-cs-study-devs/activityfinder/PreloadLogger
Vcs-Browser: https://code.launchpad.net/~ucl-cs-study-devs/activityfinder/PreloadLogger

Package: libpreload-logger1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam-modules, libc6
Description: Library to log filesystem and IPC system calls in userland processes
 Library to log filesystem and IPC system calls in userland processes. Uses
 PAM env to inject the library into all processes, and creates files into the
 user's Zeitgeist directory.

Package: libpreload-logger-dev
Architecture: any
Section: libdevel
Depends: libpreload-logger1 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libpreload-logger1
 This package contains the headers for libpreload-logger1.
